 <!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a (click)="onOpenModal(null, 'add')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Add"><i class="fa fa-plus"></i> </a>

        </li>
     </ul>
     
  </div>
</nav>

<!-- Container-->

<div class="container" id="main-container">

  <div class="search">
  <form class="form-inline my-4 my-lg-2">
    <input type="search" (ngModelChange)="searchNotes(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search notes..." required>
 </form>
  </div>

<div class="row">
  <div *ngFor="let notes of notes" class="col-md-6 col-xl-6">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              
           </div>
           <div class="col-12 card-title align-self-left mb-0">
              <h5>{{notes?.title}}</h5>
           </div>
        </div>
        
       
        <div class="card-body">
          <div class="float-left btn-group btn-group-sm">
            <a (click)="onOpenModal(notes, 'view')" class="btn btn-primary tooltips" data-placement="top" data-original-title="View"><i class="fa fa-bars"></i> </a>
            <a (click)="onOpenModal(notes, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
         </div>
           <div class="float-right btn-group btn-group-sm">
              
            
              <a (click)="onOpenModal(notes, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Notes  -->

<div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-labelledby="addNotesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addNotesModalLabel">Add Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddNotes(addForm)">

          <div class="form-group">
             <label for="title">Title</label>
             <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
             <label for="content">Content</label>
             <input type="content" ngModel name="content" class="form-control" id="content" placeholder="Content" required>
          </div>

         
          <div class="modal-footer">
             <button type="button" id="add-notes-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- View  -->
<div class="modal fade" id="viewNotesModal" tabindex="-1" role="dialog" aria-labelledby="viewModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="viewModelLabel">{{viewNotes?.title}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>{{viewNotes?.content}}?</p>
           <div class="modal-footer">
           </div>
        </div>
     </div>
  </div>
</div>


<!-- Edit  -->
<div class="modal fade" id="updateNotesModal" tabindex="-1" role="dialog" aria-labelledby="notesEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateNotesModalLabel">Edit Notes {{editNotes?.title}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="title">Title</label>
                 <input type="text" ngModel="{{editNotes?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">
              </div>
              <input type="hidden" ngModel="{{editNotes?.id}}" name="id" class="form-control" id="id" placeholder="Content">
              <div class="form-group">
                 <label for="content">Content</label>
                 <input type="content" ngModel="{{editNotes?.content}}" name="content" class="form-control" id="content" placeholder="Content">
              </div>
              
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateNotes(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete  -->
<div class="modal fade" id="deleteNotesModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Notes</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete the following note: {{deleteNotes?.title}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteNotes(deleteNotes?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no notes -->
<div *ngIf="notes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">No notes avaialble!</h4>
  <p>No Notes could be found.</p>
</div>
</div>